language: python
python:
  - "2.7"
# Need mongodb for testing
services: mongodb
# command to install dependencies
install: 
  - pip install -q -r requirements_for_tests.txt --use-mirrors
# command to run tests
env:
  - SKIP_VIRUS_SCAN=1 SKIP_SPLINTER_TESTS=1 MONGO_REPLICA_SET='' NO_AUTOPEP8=1
script:
  - ./run_tests.sh
after_script:
  - coveralls
branches:
  except:
    - release
    - /^release_[0-9]+$/
    - /^deployed-to-(preview|staging|production)$/
notifications:
  email: false
