language: python
python:
  - "2.6"
  - "2.7"
matrix:
  allow_failures:
    - python: "2.6"
# Need mongodb for testing
services: mongodb
# command to install dependencies
install: "pip install -q -r requirements_for_tests.txt --use-mirrors"
# command to run tests
script:
  - ./run_tests.sh
after_script:
  - coveralls
branches:
  except:
    - release
