argh==0.25
Celery==3.1.17
Flask==0.10.1
Flask-FeatureFlags==0.4
gunicorn==19.1.1
invoke
isodate==0.5.0
jsonschema==2.4
performanceplatform-client==0.6.0
#pip==1.5.6
pymongo==2.8
python-dateutil==2.2
pytz==2013b
pyopenssl==17.0.0
rauth==0.7.0
requests==2.18.4
statsd==3.0.1
xlrd==0.9.3
logstash_formatter==0.5.7
Werkzeug==0.12.2
