.background-image {
    min-height: 500px;
    background: url("images/performance_graphs.svg") no-repeat;
    background-position: 90% 0;
    background-size: contain;
}

.background-image p {
    width: 400px;
    font-size: 1.2em;
    line-height: 1.2em;
}

.background-image .btn {
    margin-top: 2em;
    width: 400px;
}

.masthead {
    font-size: 5em;
    line-height: 1em;
    max-width: 400px;
}

form label {
    font-size: 1.2rem;
}

form div {
    padding: 16px;
}

.form-panel {
    background-color: #d5e8f3;
    width: 60%;
}

.warning-panel {
    margin-top: 16px;
    width: 60%;
    background: rgb(223, 233, 235) url("images/warning.png") no-repeat 98% 1em;
    font-size: 1.15em;
    line-height: 1.5em;
}

.list {
    margin-left: 20px;
    list-style-type: disc;
}

#bucket-list {
    list-style-type: none;
    margin-left: 0;
}
